body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  }
  
  h1 {
    color: #ff4d6d;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    padding: 15px 40px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  #yesBtn {
    background: #ff4d6d;
    color: white;
  }
  
  #noBtn {
    background: #ccc;
    position: relative;
  }
  
  button:hover {
    transform: scale(1.1);
  }

  .photo {
    width: 400px;
    border-radius: 15px;
    margin: 15px 0;
  }
  
  /* hearts background layer */
#hearts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
  }
  
  /* each heart */
  .heart {
    position: absolute;
    color: #ff4d6d;
    font-size: 20px;
    animation: floatUp 5s linear forwards;
    opacity: 0.8;
  }
  
  /* animation */
  @keyframes floatUp {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(-30px, -120px);
      opacity: 0;
    }
  }
  
  
  /* make card above hearts */
  .container {
    position: relative;
    z-index: 1;
  }
  
  p {
    font-size: 24px;  /* adjust this number to make it bigger or smaller */
    font-weight: bold;  /* optional: makes it bold */
    margin: 20px 0;
  }